name: Validate formatting

on:
  workflow_call:
  workflow_dispatch:
  pull_request:
    branches: [main]

jobs:
  check-formatting:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v6

        - name: Setup .NET
          uses: actions/setup-dotnet@v5
          with:
           dotnet-version: |
            9.0.x

        - name: Format
          run: |
            dotnet format --verify-no-changes --verbosity diagnostic --include ./src/**
